// dspsim includes
#include <dspsim/dspsim.h>

// nanobind includes
#include <nanobind/nanobind.h>
#include <nanobind/stl/string.h>
#include <nanobind/stl/vector.h>
#include <nanobind/stl/shared_ptr.h>
#include <nanobind/stl/filesystem.h>

// Include all generated modules in project
{%for model in config.models%}
#include "{{model}}.h"
{%-endfor%}

namespace nb = nanobind;

NB_MODULE({{config.name}}, m)
{
    m.doc() = "{{config.name}} module";

    // Import dspsim._framework into the current module. Needed for proper type-stubs.
    auto _framework = m.import_("dspsim._framework");

    // Bind all generated modules here.
    {% for model in config.models %}
    bind_{{model}}(m);
    {%-endfor%}
}

// SystemC time stamp function. Needed for windows builds to compile without link errors.
double sc_time_stamp(void)
{
    return 0.0;
}
