{% for model in config.models.values() %}
verilate({{config.name}}
    SOURCES {{ model.source.as_posix() }}
    PREFIX V{{ model.name }}
    {%if model.trace == "vcd"-%}
    TRACE_VCD
    {%elif model.trace == "fst"-%}
    TRACE_FST
    {%endif-%}
    VERILATOR_ARGS --quiet {%for param in model.parameters.values()%}-G{{param.name}}={{param.gparam_val}} {%endfor%})
{% endfor %}